{% extends "MuseeUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<div class="row-fluid" style="padding-top: 5%">
	<div class="offset3 span6 ">
		<fieldset>
			<form action="{{ path('fos_user_security_check') }}" class="well" method="post">
				<legend>Connectez vous à votre compte</legend>
				
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
				<input type="email" id="username" name="_username" value="{{ last_username }}" required="required" />

				<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
				<input type="password" id="password" name="_password" required="required" />
				
				<label for="remember_me">
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
				<br>

				<input type="submit" id="_submit" name="_submit" value="{{ 'Connexion'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-large"/>
			</form>
		<fieldset>
	</div>
</div>
{% endblock fos_user_content %}
