{# src/Musee/CollectionBundle/Ressources/views/Collection/afficherListe.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
	<div class="container-fluid">
		{% for objet in objets %}
			{% if loop.index is odd %}
			<div class="row-fluid">
				<div class="offset1 span5 well">
					{% if objet.image is not null %}
					<div class="thumbnail pull-left span6" style="margin-right:5%">
						<img src="{{ asset(objet.image.webPath) }}" alt="{{objet.image.alt}}">
					</div>
					{% endif %}
					<div style="padding-top:5%">
						<p><b>Nom de l'objet: </b>{{objet.nom}}</p>
						<p><b>Description : </b>{{objet.description}}</p>
						<p><b>Exposé : </b>
						{% if objet.exposition == true %}
							oui
						{% else %}
							non
						{% endif %}	
						</p>
					</div>
					<div class="pull-right">
						<a class="btn btn-info" href="{{ path('musee_collection_afficher', {'id': objet.id}) }}">afficher</a>
						<a class="btn btn-success" href="{{ path('musee_collection_modifier', {'id': objet.id}) }}">Modifier</a>
						<a class="btn btn-danger" href="{{ path('musee_collection_supprimer', {'id': objet.id}) }}">Supprimer</a>
					</div>
				</div>
			
			{% elseif loop.index is even %}
				<div class="span5 well">
					{% if objet.image is not null %}
					<div class="thumbnail pull-left span6" style="margin-right:5%">
						<img src="{{ asset(objet.image.webPath) }}" alt="{{objet.image.alt}}">
					</div>
					{% endif %}
					<div style="padding-top:5%">
						<p><b>Nom de l'objet: </b>{{objet.nom}}</p> 
						<p><b>Description : </b>{{objet.description}}</p>
						<p><b>Exposé : </b>
						{% if objet.exposition == true %}
							oui
						{% else %}
							non
						{% endif %}
						</p>
					</div>
					<div class="pull-right">
						<a class="btn btn-info" href="{{ path('musee_collection_afficher', {'id': objet.id}) }}">afficher</a>
						<a class="btn btn-success" href="{{ path('musee_collection_modifier', {'id': objet.id}) }}">Modifier</a>
						<a class="btn btn-danger" href="{{ path('musee_collection_supprimer', {'id': objet.id}) }}">Supprimer</a>
					</div>					
				</div>
			</div>
			{% endif %}
			{% if loop.last is not even %}
			</div>
			{% endif %}
			
		{% endfor %}
	
	

		
		<div class="row-fluid">
			<div class="offset5 span2">
				<div class="pagination text-center">
					<ul>
						{% if nombrePage == 0 %}
							{% set nombrePage = 1 %}
						{% endif %}
						{% for p in range(1, nombrePage) %}
							<li {% if p == page %} class="active" {% endif %}>
								<a href="{{ path('musee_collection_afficher_liste', {'page' : p}) }}">{{p}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}