{# src/Musee/CollectionBundle/Resources/views/plan.html.twig #}

{% extends "::layout.html.twig" %}
{% block body %}
	
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="offset1 span10 well">
					<div class="offset2 span8 well" id="conteneur">
						<h2>
							Plan du musée de l'espace de la base spatiale de Kourou
						</h2>
						<p>
							<em>Cliquer sur une salle pour voir les objets qui y sont stockés :</em>
						</p>
					</div>
					<p class="text-center visible-desktop">
					   <img src="{{ asset('style/Plandumusee.png') }}" usemap="#plan_du_musee" alt="Plan du musée"/>
					</p>

					<p class="visible-desktop">
						<map name="plan_du_musee" id="plan_du_musee">
							<area shape="rect" coords="348,0,422,50" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 1}) }}" alt="Salle Mercure - Entrée"/>
							<area shape="rect" coords="250,51,669,246" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 2}) }}" alt="Salle Venus - Boutique"/>
							<area shape="rect" coords="669,51,924,466" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 3}) }}" alt="Salle Terre"/>
							<area shape="rect" coords="250,248,668,467" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 5}) }}" alt="Salle Jupiter"/>
							<area shape="rect" coords="21,51,250,467" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 8}) }}" alt="Salle Neptune"/>
							<area shape="rect" coords="560,468,922,646" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 4}) }}" alt="Salle Mars"/>
							<area shape="rect" coords="325,467,558,646" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 6}) }}" alt="Salle Saturne"/>
							<area shape="rect" coords="21,468,325,646" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 7}) }}" alt="Salle Uranus"/>
							<area shape="rect" coords="21,647,924,788" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 9}) }}" alt="Salle Soleil - Réserve"/>
						</map>
					</p>
				</div>
				<div class="hidden-desktop">
					<p class="text-center">
					   <img src="{{ asset('style/Plandumusee.png') }}" alt="Plan du musée"/>
					</p>
					<div class="span4 well text-center">
						<div class="btn-group btn-group-vertical">
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 1}) }}">Salle Mercure - Entrée</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 2}) }}">Salle Venus - Boutique</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 3}) }}">Salle Terre</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 4}) }}">Salle Mars</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 5}) }}">Salle Jupiter</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 6}) }}">Salle Saturne</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 7}) }}">Salle Uranus</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 8}) }}">Salle Neptune</option>
							   <a class="btn btn-inverse" href="{{ path('musee_collection_afficher_liste', {'page' : 1, 'idSalle' : 9}) }}">Salle Soleil - Réserve</option>
						</div>
					</div>
				</div>
			</div>
		</div>
	
{% endblock %}