{# src/Musee/BlogBundle/Resources/views/Article/ajouter.html.twig #}

{% extends "::layout.html.twig" %}
{% block body %}
	{% for article in articles %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="offset2 span8 well">
					{% if article.image is not null %}
						<div class="pull-left thumbnail span4" style="margin-right:5%; margin-left:0%">
							<img src="{{ asset(article.image.webPath) }}" alt="{{article.image.alt}}">
						</div>
					{% endif %}
					<div style="padding-top:5%">
					<h3 style="padding-top:0%">{{article.titre}}</h3>
					<p>{{article.contenu|raw}}</p>
					<p>{{article.auteur}}</p>
					</div>
					<div class="pull-right">
						<a class="btn btn-success" href="{{ path('musee_blog_modifier', {'id' : article.id}) }}">Modifier</a>
						<a class="btn btn-danger" href="{{ path('musee_blog_supprimer', {'id' : article.id}) }}">Supprimer</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	
	<div class="row-fluid">
			<div class="offset5 span2">
				<div class="pagination text-center">
					<ul>
						{% if nombrePage == 0 %}
							{% set nombrePage = 1 %}
						{% endif %}
						{% for p in range(1, nombrePage) %}
							<li {% if p == page %} class="active" {% endif %}>
								<a href="{{ path('musee_blog_afficher_liste', {'page' : p}) }}">{{p}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

